  <footer class="page-footer light-blue" id="footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12  waves-effect waves">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of engineers, programmers, 
          and designers dedicated to open hardware products for the world to enjoy. 
          </p>
          <p class="white-text">Sinovoip and Foxconn team.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contacts</h5>
          <ul>
            <li><a class="white-text" href="mailto:sales@banana-pi.com">sales@banana-pi.com</a></li>
			<li><a class="white-text" href="mailto:support@banana-pi.com">support@banana-pi.com</a></li>            
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="https://plus.google.com/communities/116770564125019694131">Google+</a></li>
			<li><a class="white-text" href="https://www.facebook.com/sinovoipbpi">FaceBook</a></li>
            <li><a class="white-text" href="https://twitter.com/sinovoip">Twitter</a></li>
            <li><a class="white-text" href="https://pinterest.com/sinovoip/">Pinterest</a></li>
            <li><a class="white-text" href="http://bananapi.quora.com/">Quora</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container  waves-effect waves">
      &#0169;2016-2018 Sinovoip All rights reserved
      </div>
    </div>
  </footer>