<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <!-- InstanceBeginEditable name="doctitle" -->
  <title>Banana Pi - BPI Single Board Computers Official Website</title>
  <meta name="description" content="Official website of BPI Banana Pi DIY computer boards including BPI-M1, BPI-M2+ Quad-core, BPI-M3 Octa-core single board computers, BPI-R1 router and more.">
  <!-- InstanceEndEditable -->
  <meta name="theme-color" content="#03a9f4">
  <meta name="description" content="sigle board computer">
  <!-- CSS  -->
  <link href="style/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="style/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/ico" href="images/logos/company-logo/bpilogo.ico"/>
  <!-- InstanceBeginEditable name="head" -->
  <!-- InstanceEndEditable -->
</head>